@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');

#root {
  min-width: 1200px;
  width: 1920px;
  margin: 0 auto;
  text-align: center;
}

:root {
  --font: 'Space Grotesk', sans-serif;
  /* colour palette */
  --primary-colour: #74E8C5;
  --primary-colour-alt: #4FB697;
  --primary-colour-alt2: #E2FFF7;
  --secondary-colour: #3c3c3c;
  --secondary-colour-alt: #252525;
  --background-colour: #F8F8F8;
  --background-colour-alt: #A0A0A0;
}

body {
  background: #ffffff
}

/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}*/

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  font-family: var(--font), sans-serif;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  background-color: var(--primary-colour-alt);
  color: var(--background-colour);
}

button.alt {
  background-color: transparent;
  color: var(--primary-colour-alt);
  border-color: var(--primary-colour-alt);
  border-width: 2px;
}

input, textarea {
  font-family: var(--font), sans-serif;
  font-size: medium;
  background-color: var(--background-colour);
  border: var(--background-colour);
  border-radius: 50px;
  height: 30px;
  padding: 0.5em 1.3em;
  color: var(--secondary-colour)
}

textarea {
  border-radius: 10px;
  padding: 0.5em 0.5em;
}

p, li {
  font-family: var(--font), sans-serif;
  color: var(--secondary-colour);
}

h1 {
  color: var(--secondary-colour);
  font-family: var(--font), sans-serif;
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.5;
}

h2 {
  color: var(--secondary-colour);
  font-family: var(--font), sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8;
  margin: auto;
}

h3 {
  color: var(--secondary-colour);
  font-family: var(--font), sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8;
  margin: auto;
}

#banner {
  width: 100%;
  height: 31em;
  background: var(--primary-colour-alt);
  background-image: url("../assets/banner.jpg");
  background-size: cover;
  background-position: top;
  padding: 2em 2em;
  box-sizing: border-box;
}

.white-label {

  width: fit-content;
  background: var(--background-colour);
  color: var(--secondary-colour);
  border-radius: 10px;
  padding: 0 10px;
  margin-bottom: 40px;
}

.black-label {
  h1, h2, h3, h4, h5, h6 {
    color: var(--background-colour);
  }

  width: fit-content;
  background: var(--secondary-colour);
  border-radius: 10px;
  padding: 0 18px;
  margin-bottom: 10px;
}

.green-label {
  h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-colour-alt);
  }

  width: fit-content;
  background: var(--primary-colour);
  border-radius: 10px;
  padding: 0 18px;
  margin: 10px 0;
}

.primary-text {
  color: var(--primary-colour);
}

.primary-alt-text {
  color: var(--primary-colour-alt);
}

.black-text {
  color: var(--secondary-colour);
}

.white-text {
  color: var(--background-colour);
}

.new-trip {
  display: flex;
  gap: 1.3em;
  padding: 4em 0;
}

.title-input {
  width: 250px;
}

.login-background {
  width: 90%;
  height: 100%;
  margin: -24px auto;
  background-image: url("../assets/login-background.jpg");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}

.leaflet-container {
  width: 400px
}