@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

#root {
  width: 1440px;
  margin: 0 auto;
  text-align: center;
}

:root {
  --font: 'Space Grotesk', sans-serif;
  /* colour palette */
  --primary-colour: #74E8C5;
  --primary-colour-alt: #4FB697;
  --primary-colour-alt2: #dffffc;
  --secondary-colour: #3c3c3c;
  --secondary-colour-alt: #252525;
  --background-colour: #F8F8F8;
  --background-colour-alt: #A0A0A0;
}

body {
  background: var(--background-colour)
}

/*.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}*/

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 20px;
}

input {
  font-family: var(--font), sans-serif;
  font-size: medium;
  background-color: var(--background-colour);
  border: var(--background-colour);
  border-radius: 50px;
  height: 30px;
  padding: 0.5em 1.3em;
  color: var(--secondary-colour)
}

p {
  font-family: var(--font), sans-serif;
}

.h1-text {
  color: var(--secondary-colour);
  font-family: var(--font), sans-serif;
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.5;
}

.h3-text {
  color: var(--background-colour);
  font-family: var(--font), sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbar {
  width: 100%;
  height: 75px;
  background-color: var(--secondary-colour);
  display: flex;

  .logo {
    width: 21%;
    display: flex;
    padding: 0 1em;
    color: var(--background-colour);
    font-family: var(--font), sans-serif;
    margin: 0;
    line-height: 1.3;
  }

  .h3-text {
    color: var(--primary-colour);
  }

  ul {;
    display: flex;
    list-style: none;
    gap: 5rem;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  li {
    cursor: pointer;
    color: var(--primary-colour);
  }
}

.navbar-profile {
  .profile-icon {
    /*background: var(--primary-colour);*/
    background-color: #000;
    border-radius: 50%;
    width: 20px;
  }
}

#banner {
  width: 100%;
  height: 31em;
  background: var(--primary-colour-alt);
  background-image: url("../assets/banner.jpg");
  background-size: cover;
  background-position: top;
  padding: 2em 2em;
  box-sizing: border-box;
}

.white-label {
  width: fit-content;
  background: var(--background-colour);
  color: var(--secondary-colour);
  border-radius: 10px;
  padding: 0 10px;
}

.black-label {
  width: fit-content;
  background: var(--secondary-colour);
  color: var(--background-colour);
  border-radius: 10px;
  padding: 0 18px;
}

.new-trip {
  display: flex;
  gap: 1.3em;
}

.title-input {
  width: 250px;
}