.main-image {
    width: 35%;
    background-size: cover;
    background-position: center;
}

.main-container {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
}

#main-page-nav {
    @media (max-width: 768px) {
        justify-content: space-around;
    }
}

.login-page {
    margin: auto auto;
    padding: 0 40px;

    h4 {
        margin: 10px 0;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    @media (max-width: 768px) {
        padding: 250px 100px;
        background-image: url("../assets/images/starry-night.jpg");
        background-position: center;
        background-size: cover;

        p, h2, h4 {
            color: var(--background-colour);
        }
    }
}