.trip-preview {
    display: flex;
    margin: 15px 0 15px 0;
    border: solid 1px var(--secondary-colour);
    border-radius: 20px;
    width: 275px;
    background-color: var(--background-colour);
    justify-content: space-evenly;

    button:hover {
        background-color: var(--primary-colour-alt);

        .img-main {
            opacity: 0;
        }

        .img-hover {
            opacity: 1;
        }
    }
}

.trip-preview img {
    border-radius: 20px;
    width: 175px;
    height: 175px;
    object-fit: contain;
    display: flex;
}

.trip-options {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    img {
        display: flex;
        border-radius: 0;
    }
}

.trips-carousels {
    margin: 10px 100px;
}

.image-container {
    align-items: center;
    position: relative;
    width: 20px;
    height: 20px;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.img-hover {
    opacity: 0;
}

.no-trips-display {
    background-color: var(--background-colour);
    border-radius: 15px;
    padding: 60px;
    margin: 40px 0;
}

.swiper {
    padding: 0 100px;
    margin: auto auto;
}