.navbar {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 3.5em;
    box-sizing: border-box;
    margin: 20px 0 0 0;

    .logo {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 0.5em;

        #icon {
            width: 70px
        }

        #text {
            width: 180px;
        }
    }

    .active-link td {
        border-bottom: 3px solid var(--primary-colour);
    }

    table {
        margin: 5px 0 0 30px;
        display: flex;

        @media (max-width: 768px) {
            display: none;
        }
    }

    button {
        border-radius: 110px;
        background-color: white;
        display: none;
        position: absolute;
        right: 20px;

        @media (max-width: 768px) {
            display: block;
        }

        .menu-icon {
            width: 40px;
            display: none;

            @media (max-width: 768px) {
                display: block;
            }
        }
    }

    button:hover, button:focus {
        border-color: white;
        outline: none;
    }

    td {
        cursor: pointer;
        padding: 0 0.75em;
        transition: background-color 0.2s ease;
    }

    td:hover p {
        color: var(--primary-colour);
    }

    a {
        color: #1a1a1a;
    }
}

.navbar-profile {
    position: absolute;
    right : 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--primary-colour);
    background-size: cover;
    background-position: center;

    @media (max-width: 768px) {
        bottom: 100px;
        right: 10px;
        z-index: 1005;
        display: block;
    }
}

#profile-large-screen {
    display: block;

    @media (max-width: 768px) {
        display: none;
    }
}

#profile-small-screen {
    display: none;

    @media (max-width: 768px) {
        margin: 20px;
        display: flex;
        flex-direction: row;

        h4 {
            margin: auto auto auto 18px;
        }
    }
}

.sidebar {
    position: fixed;
    right: 0;
    height: 60vh;
    width: 200px;

    background-color: var(--background-colour);
    z-index: 1005;
    text-align: right;
    padding: 30px 30px 30px 0;
    border-radius: 75px 0 0 75px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
        list-style: none;
    }

    h3 {
        line-height: 3;
    }

    li:hover {
        text-decoration: underline;
        text-decoration-color: var(--secondary-colour);
    }

    .active-link h3 {
        text-decoration: underline;
        text-decoration-color: var(--primary-colour-alt);
    }
}