.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    &.sign-up {
        background-image: url("../assets/images/mountains_and_field.jpg");
    }

    &.update {
        background-image: url("../assets/images/castle.jpg");
    }

    background-position: center;
    background-size: cover;
}

.profile-form {
    padding: 50px;
    background-color: #fff;
    border-radius: 30px;

    form {
        margin-top: 40px;
        display: inline-flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        width: 100%;
        align-content: center;
    }

    .form-group {
        display: grid;
        grid-template-columns: 150px 500px;
        align-items: center;
        gap: 1rem;
    }

    .form-group {
        display: grid;
        grid-template-columns: 150px 400px;
        align-items: center;
        gap: 3rem;
    }

    .form-group label {
        font-weight: bold;
        text-align: right;
    }

    input:read-only {
        color: #A6A6A6;
    }
}