.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    &.sign-up {
        background-image: url("../assets/images/mountains_and_field.jpg");

        @media (max-width: 768px) {
            background-image: url("../assets/images/road_to_mountains.jpg");
        }
    }

    &.update {
        background-image: url("../assets/images/castle.jpg");
    }

    background-position: center;
    background-size: cover;

    a {
        color: var(--background-colour);
    }
}

.profile-form {
    padding: 50px;
    background-color: #fff;
    border-radius: 30px;

    @media (max-width: 768px) {
        width: 60%;
        padding: 30px;

        h1 {
            font-size: 1.7rem;
        }
    }

    form {
        margin-top: 40px;
        display: inline-flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        width: 100%;
        align-content: center;
    }

    .form-group {
        display: grid;
        grid-template-columns: 150px 500px;
        align-items: center;
        gap: 1rem;
    }

    .form-group {
        display: grid;
        grid-template-columns: 150px 400px;
        align-items: center;
        gap: 3rem;

        @media (max-width: 768px) {
            display: flow;
        }
    }

    .form-group label {
        font-weight: bold;
        text-align: right;
    }

    input:read-only {
        color: #A6A6A6;
    }

    @media (max-width: 768px) {
        input, select {
            width: 200px;
            font-size: 14px;
        }
    }
}